/* 1ère partie */


/* *{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
   width: 50vw;
   height: 50vh;
   background-color:grey;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
} */
 
/* 
.valide {
    border: 2px solid green
}

.invalide {
    border: 2px solid red
} */

/* 2ème partie */


/* exercice age */

/* *{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    height: 50vh;
    width: 50vw;
    background-color:burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin: 1rem;
    padding-top : 0.3rem;
    padding-bottom: 0.3rem;
} */


/* Exercice 3 boutons */

